name: Tests

run-name: Tests

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.zig'

jobs:
  build-and-test:
    name: Test on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig build test                # main exe module with all the utils
      - run: zig test src/shared/tests.zig # shared library, including the SnesRom struct
