name: Test

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.zig'

jobs:
  build-and-test:
    name: Build and test on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig test src/tests.zig
